[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = {extras = ["all"], version = "*"}
psycopg2-binary = "*"
pydantic-settings = "*"
sqlalchemy = "*"
typer = {extras = ["all"], version = "*"}
types-psycopg2 = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
detect-secrets = "*"
faker = "*"
flake8 = "*"
mypy = "*"
pip-audit = "*"
pip-licenses = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
requests-mock = "*"
safety = "*"
sqlalchemy-stubs = "*"
types-requests = "*"
watchman = "*"

[requires]
python_version = "3.13"
